In [ ]:
import numpy as np
import pandas as pd
import math
from statistics import mode

In [ ]:
x = [2, 4, 4, 4, 6, 6]
y = [4, 2, 4, 6, 4, 2]
labels = ['orange', 'orange', 'blue', 'orange', 'orange', 'blue']
data = pd.DataFrame({'x':x, 'y':y, 'label':labels})
data

   x  y   label
0  2  4  orange
1  4  2  orange
2  4  4    blue
3  4  6  orange
4  6  4  orange
5  6  2    blue

In [ ]:
def euclidean_distance(x1, x2):
    return math.sqrt((x1[0]-x2[0])**2 + (x1[1]-x2[1])**2)

In [ ]:
class KNearestNeighbours:
    def __init__(self, k):
        self.k = k
    
    def fit(self, x, y):
        self.x_train = x
        self.y_train = y

    def predict(self, x_test):
        distances = []
        for i in range(len(self.x_train)):
            distances.append(euclidean_distance(x_train.iloc[i], x_test))
        print(distances)
        indices = np.argsort(distances)[:self.k]
        print(indices)
        nearest_labels = []
        for index in indices:
            nearest_labels.append(y_train[index])
        print(nearest_labels)
        return mode(nearest_labels)

In [ ]:
x_train = data.drop(['label'], axis=1)
y_train = data['label']

In [ ]:
x_train

   x  y
0  2  4
1  4  2
2  4  4
3  4  6
4  6  4
5  6  2

In [ ]:
y_train

0    orange
1    orange
2      blue
3    orange
4    orange
5      blue
Name: label, dtype: object

In [ ]:
KNN = KNearestNeighbours(k=3)
KNN.fit(x_train, y_train)

In [ ]:
label = KNN.predict([6, 6])
print("The predicted label for point (6,6) using KNN is", label)

[4.47213595499958, 4.47213595499958, 2.8284271247461903, 2.0, 2.0, 4.0]
[3 4 2]
['orange', 'orange', 'blue']
The predicted label for point (6,6) is orange